#jumbotron {
	background-image: url(../images/Header.png);
	margin-bottom: 0px;
    background-position: 0% 25%;
    background-repeat: no-repeat;
    height: 300px;

}
 
.form-control:focus {
  border: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px;
}

#form1 {
	height: 80px;
	font-size: 60px;
	text-align: center;
	color: #808080;
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
	width: 100%;
}
.btn-primary {
	background-color: white;
	border-color: white;
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 15px;
	font-size: 20px;
}

#searchpic {
	width: 200px;
	cursor: pointer;
}

.container {
	text-align: center;
}

h2 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}

p {
	font-size: 30px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.col-md-6 {
	text-align: center;
	padding: 40px;
}

#search{
	border-radius: 0;
	width: 20%;
	text-align: center;
	font-size: 20px;
}

.col-md-4 {
	text-align: center;
}

.btn-primary {
	border-radius: 0;
}

#results-screen{
	text-align: center;
	display: none;
}

#your-beer{
	height: 200px;
	animation-name: beerSlide;
    animation-duration: 1s;
    animation-iteration-count: 1;
    /*animation-delay:0;*/
    /*top: -1000px;*/
}

#how-to-drink{
	animation-name: beerSlide;
    animation-duration: 1s;
    animation-iteration-count: 1;
    /*animation-delay: 250ms;*/
    /*top: -1000px;*/
}

#food-results{
	animation-name: beerSlide;
    animation-duration: 1s;
    animation-iteration-count: 1;
    /*animation-delay: 500ms;*/
    /*top: -1000px;*/
}


#search-again-btn{
	margin-top: 50px;
	text-align: center;
	
}

#searchAgain{
	cursor: pointer;
}

.beerimg{
	width: 200px;
	height: 200px;
}

#beer-results {
	text-align: center;
}
.beerinfo{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
}

#glass-results{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
}

#recipe {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 25px;
}


#border-1, #border-2, #border-3{
	border: none;
	align-items: center;
	padding-top: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 25px;
}

#next-button{
	cursor: pointer;
}

#border-2{
	display: none;
}

#border-3{
	display: none;
}

@keyframes beerSlide {
    from   {transform: translateY(1000px)}
    to {transform: translateY(0px)}

.glyphicon-chevron-right:before {
	font-size: 250%;
}

#no-label {
	width: 300px;
}


