
.results-body{
	width: 90%;
	margin:auto;
}

#jumbo-content{
	text-align: center;
}

.titles{
	text-align: center;
}

#glass-image{
	width: 250px;
}


.search-box{
    padding: 12px 20px;
    margin: 8px 0;
    height: 50px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    font-size: 40px;
}